body{
	background-color:#0E0317;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/fondo.jpg);
}

.contain{
	position: absolute;
	top: 320px;
	left: 400px;
	width: 500px;
	height:300px;
	background-color: #F3F3F3;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
}
.title{
	position: absolute;
	top: 5%;
	left: 30%;
	font-size: 30px;
	font-family: 'Baloo Chettan 2', cursive;
}

.subtitle{
	position: absolute;
	top: 25%;
	left: 100px;

	font-family: 'Montserrat', sans-serif;

}
.monto{
	position: absolute;
	top: 25%;
	left: 190px;

	font-family: 'Montserrat', sans-serif;
}
.form{
	position: absolute;
	top: 40%;
	left: 50px;
	width: 400px;
	height: 200px;
}
#apuesta{
	width: 30px;
	height: 20px;
}
.dadoNum{
	position: absolute;
	top: 20px;
	left: 340px;
	font-family: 'Source Sans Pro', sans-serif;

}
.ext{
	position: absolute;
	top: 20px;
	left: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}
.canAps{
	position: absolute;
	top: 50px;
	left: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}
.posExt{
	position: absolute;
	left: 212px;
}
.button{
	position: absolute;
	top: 70%;
	left: 200px;
}
.but{
	width: 100px;
	height: 30px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 2px 5px gray;
	outline: 0px;
	background-color: #5B5B5B;
	color: white;
}
.fin{
	position: absolute;
	top: 90%;
	right: 10px;
	width: 200px;
	font-family: 'Oswald', sans-serif;
}
.finsb{
	position: absolute;
	top: 0px;
	left: 120px;

}
